<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home | Repute Lite - Free Bootstrap Business Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Bootstrap Business Template">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
    <link href="Home/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="Home/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Home/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="Home/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
    <!-- IE 9 Fallback-->
    <!--[if IE 9]>
		<link href="Home/assets/css/ie.css" rel="stylesheet">
	<![endif]-->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Home/assets/ico/repute144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Home/assets/ico/repute114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Home/assets/ico/repute72x72.png">
    <link rel="apple-touch-icon-precomposed" href="Home/assets/ico/repute57x57.png">
    <link rel="shortcut icon" href="Home/assets/ico/favicon.png">
    <style>
        .tlength{
            width: 220px;
        }
    </style>
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- 导航栏 -->
        <nav class="navbar navbar-default " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="index.html" class="navbar-brand navbar-logo" style="padding-top: 2px;padding-left: 8px">
                        <img src="Home/assets/img/logo/LogoTest.png" alt="Repute Lite - Free Bootstrap Business Template" style="width: 280px;">
                    </a>
                </div>
                <!-- MAIN NAVIGATION -->
                <div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">首页 </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们 </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务内容 </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">合作案例 </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">最新动态 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog-medium-thumbnail.html">公司动态</a></li>
                                <li><a href="blog-single.html">法律法规</a></li>
                            </ul>
                        </li>
                        <li><a href="https://goo.gl/27z3vD" class="special-menu-item" target="_blank"><i class="fa fa-paper-plane-o"></i> 联系我们</a></li>
                    </ul>
                </div>
                <!-- END MAIN NAVIGATION -->
            </div>
        </nav>
        <!-- END 导航栏 -->

        <!-- Banner 图原型 -->
        <!--<section class="hero-unit-slider slider-responsive no-margin">-->
            <!--<div id="carousel-hero" class="slick-carousel">-->
                <!--<div class="carousel-inner" role="listbox">-->
                    <!--<div class="item active">-->
                        <!--<img src="Home/assets/img/sliders/slider3-h500.png" class="img-responsive" alt="Slider Image">-->
                        <!--<div class="carousel-caption">-->
                            <!--<h2 class="hero-heading">配图标题 测试文字</h2>-->
                            <!--<p class="lead">配图测试文字配图测试文字配图测试文字配图测试文字</p>-->
                            <!--<a href="#" class="btn btn-lg hero-button">查看详情</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img src="Home/assets/img/sliders/slider2-h500.png" class="img-responsive" alt="Slider Image">-->
                        <!--<div class="carousel-caption">-->
                            <!--<h2 class="hero-heading">配图标题 测试文字</h2>-->
                            <!--<p class="lead">配图测试文字配图测试文字配图测试文字配图测试文字</p>-->
                            <!--<a href="#" class="btn btn-lg hero-button">查看详情</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img src="Home/assets/img/sliders/slider1-h500.png" class="img-responsive" alt="Slider Image">-->
                        <!--<div class="carousel-caption">-->
                            <!--<h2 class="hero-heading">配图标题 测试文字</h2>-->
                            <!--<p class="lead">配图测试文字配图测试文字配图测试文字配图测试文字</p>-->
                            <!--<a href="#" class="btn btn-lg hero-button">查看详情</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!-- END Banner 图原型 -->
        <!-- Banner图部分 修改后 -->
        <section class="hero-unit-slider slider-responsive no-margin">
            <div id="carousel-hero" class="slick-carousel">
                <div class="carousel-inner" role="listbox">
                    <!-- 一组 Banner元素-->
                    <foreach name="banner_info" item="v" key="k">
                        <div class="item active">
                            <img src="Uploads/Images/Banner/banner{$k + 1}.png?ran={$ran}" class="img-responsive" alt="Slider Image">
                            <div class="carousel-caption">
                                <h2 class="hero-heading">{$v.banner_header}</h2>
                                <br><br>
                                <p class="lead">{$v.banner_text}</p>
                            </div>
                        </div>
                    </foreach>
                </div>
            </div>
        </section>
        <!-- END Banner图部分 修改后 -->

        <!-- 四个引导图标 -->
        <div class="main-features ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6"><i class="fa fa-eercast "></i>
                        <h3 class="feature-heading">资质优势</h3></div>
                    <div class="col-md-3 col-sm-6"><i class="fa fa-linode "></i>
                        <h3 class="feature-heading">企业动态</h3></div>
                    <div class="col-md-3 col-sm-6"><i class="fa fa-id-card "></i>
                        <h3 class="feature-heading">员工资历</h3></div>
                    <div class="col-md-3 col-sm-6"><i class="fa fa-newspaper-o "></i>
                        <h3 class="feature-heading">法律法规</h3></div>
                </div>
            </div>
        </div>
        <!-- END 四个引导图标 -->

        <!-- 企业简介板块 -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="section-heading" style="font-size: 40px">企业简介</h1>
                        <p class="lead">{$company_info.company_header}</p>
                        <p>{$company_info.company_text}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="./Uploads/Images/Company/companyIndex.png?ran={$ran}" class="img-responsive" alt="Image Intro" style="height: 380px;margin:0 auto;">
                    </div>
                </div>
            </div>
        </section>
        <!-- END 企业简介板块 -->

        <!-- 服务范围 -->
        <section>
            <div class="container">
                <div class="row">
                    <foreach name="serve_info" item="v" key="k">
                        <div class="col-md-6">
                            <div class="boxed-content left-aligned left-boxed-icon">
                                <i class="fa fa-{$v.serve_icon}"></i>
                                <h2 class="boxed-content-title">{$v.serve_header}</h2>
                                <p>{$v.serve_text}.</p>
                            </div>
                        </div>
                    </foreach>
                </div>
            </div>
        </section>
        <!-- END 服务范围 -->
        
        <!-- 服务宗旨部分 --> 
        <section>
            <div class="container">
                <!--<h2 class="section-heading sr-only">WHY REPUTE</h2>-->
                <div class="tab-content">
                <foreach name="slogan_info" item="v" key="k">
                    <div class="tab-pane fade in text-center" id="tab-bottom{$k + 1}">
                        <img src="Uploads/Images/Slogan/sloganImg{$k + 1}.png?ran={$ran}" class="img-responsive center-block margin-bottom-30px">
                        <h3 class="text-accent-color">{$v.slogan_header}</h3>
                        <p class="lead">{$v.slogan_text}</p>
                    </div>
                </foreach>
                </div>
                <div class="custom-tabs-line tabs-line-top">
                    <ul class="nav" role="tablist">
                        <li class="active"><a href="#tab-bottom1" role="tab" data-toggle="tab">{$slogan_info[0].slogan_btn}</a></li>
                        <li><a href="#tab-bottom2" role="tab" data-toggle="tab">{$slogan_info[1].slogan_btn}</a></li>
                        <li><a href="#tab-bottom3" role="tab" data-toggle="tab">{$slogan_info[2].slogan_btn}</a></li>
                        <li><a href="#tab-bottom4" role="tab" data-toggle="tab">{$slogan_info[3].slogan_btn}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END 服务宗旨部分 -->

        <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div> -->

        <!-- 公司展示部分 -->
        <section class="recent-works">
            <div class="container">
                <h2 class="section-heading pull-left">公司展示</h2>
                <a href="#" class="btn btn-primary pull-right">查看更多</a>
                <div class="clearfix"></div>
                <div class="portfolio-static">
                    <div class="row">
                        <foreach name="company_show_info" item="v" key="k">
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <div class="overlay"></div>
                                <div class="info">
                                    <h4 class="title">{$v.company_show_title}</h4>
                                    <br>
                                    <p class="brief-description">{$v.company_show_text}</p>
                                </div>
                                <div class="media-wrapper">
                                    <img src="Uploads/Images/Company_show/work{$k + 1}.png?ran={$ran}" alt="Item Thumbnail" />
                                </div>
                            </div>
                        </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </section>
        <!-- END 公司展示部分 -->

        <!-- 业务范围 -->
        <section>
            <div class="container">
                <h2 class="section-heading">业务范围</h2>
                <div class="row">
                    <div class="col-md-4">
                        <!--大图标大标题大内容-->
                        <div class="news-item news-featured">
                            <a href="#"><img src="Uploads/Images/Business/business1.png?ran={$ran}" class="img-responsive"></a>
                            <h3 class="news-title"><a href="#">{$business_info[0].business_header}</a></h3>
                            <p>{$business_info[0].business_text}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!--小图标小标题小内容-->
                        <div class="row">
                            <for start="1" end="6">
                                <div class="col-md-6 col-sm-6">
                                    <div class="news-item margin-bottom-30px clearfix">
                                        <a href="#"><img src="Uploads/Images/Business/business{$i + 1}.png?ran={$ran}" class="img-responsive pull-left"></a>
                                        <div class="right">
                                            <h3 class="news-title"><a href="#">{$business_info[$i].business_header}</a></h3>
                                            <p>{$business_info[$i].business_text}</p>
                                        </div>
                                    </div>
                                </div>
                            </for>

                            <div class="col-md-6 col-sm-6">
                                <div class="see-all-news">
                                    <a href="#">查看更多 <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END 业务范围 -->

        <!-- NUMBERS -->
        <section class="full-width-section no-margin">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 tlength">
                        <div class="number-info horizontal text-white-color">
                            <i class="fa fa-clock-o pull-left"></i>
                            <p>0000… <span>SUBSCRIBERS</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 tlength">
                        <div class="number-info horizontal text-white-color">
                            <i class="fa fa-clock-o pull-left"></i>
                            <p>0000… <span>PROJECTS</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 tlength">
                        <div class="number-info horizontal text-white-color">
                            <i class="fa fa-clock-o pull-left"></i>
                            <p>0000… <span>APPRECIATIONS</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 tlength">
                        <div class="number-info horizontal text-white-color">
                            <i class="fa fa-clock-o pull-left"></i>
                            <p>0000… <span>CLIENTS</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 tlength">
                        <div class="number-info horizontal text-white-color">
                            <i class="fa fa-clock-o pull-left"></i>
                            <p>至今…… <span>APPRECIATIONS</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END NUMBERS -->
        <!-- TESTIMONIAL -->
        <section id="testimoial-parallax" class="testimonial-with-bg parallax">
            <div class="container">
                <div class="testimonial slick-carousel">
                    <div class="testimonial-container">
                        <div class="testimonial-body">
                            <p>Credibly extend parallel relationships after clicks-and-mortar content. Credibly pontificate team building alignments rather than diverse quality vectors.</p>
                            <div class="testimonial-author">
                                <img src="Home/assets/img/user2.png" alt="Author" class="pull-left">
                                <span><span class="author-name">Antonius</span> <em>CEO of TheCompany</em></span>
                            </div>
                        </div>
                        <div class="testimonial-body">
                            <p>Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
                            <div class="testimonial-author">
                                <img src="Home/assets/img/user1.png" alt="Author" class="pull-left">
                                <span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
                            </div>
                        </div>
                        <div class="testimonial-body">
                            <p>Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas.</p>
                            <div class="testimonial-author">
                                <img src="Home/assets/img/user5.png" alt="Author" class="pull-left">
                                <span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END TESTIMONIAL -->
        <!-- OUR CLIENTS -->
        <section class="clients">
            <div class="container">
                <h2 class="section-heading">OUR CLIENTS</h2>
                <ul class="list-inline list-client-logo">
                    <li>
                        <a href="#"><img src="Home/assets/img/clients/logo1.png" alt="logo"></a>
                    </li>
                    <li>
                        <a href="#"><img src="Home/assets/img/clients/logo2.png" alt="logo"></a>
                    </li>
                    <li>
                        <a href="#"><img src="Home/assets/img/clients/logo3.png" alt="logo"></a>
                    </li>
                    <li>
                        <a href="#"><img src="Home/assets/img/clients/logo4.png" alt="logo"></a>
                    </li>
                    <li>
                        <a href="#"><img src="Home/assets/img/clients/logo5.png" alt="logo"></a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- END OUR CLIENTS -->
        <!-- CALL-TO-ACTION -->
        <section class="call-to-action">
            <div class="container">
                <div class="pull-left">
                    <h2 class="section-heading">GET IN TOUCH</h2>
                </div>
                <div class="pull-right">
                    <span>Call us at (1800) 765 - 4321 or</span>&nbsp;&nbsp;<a href="#" class="btn btn-lg btn-primary">CONTACT US</a>
                </div>
            </div>
        </section>
        <!-- END CALL-TO-ACTION -->
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- COLUMN 1 -->
                        <h3 class="sr-only">ABOUT US</h3>
                        <img src="Home/assets/img/logo/LogoTest.png" class="logo" alt="Repute" style="width: 280px;">
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                        <br>
                        <address class="margin-bottom-30px">
                            <ul class="list-unstyled">
                                <li>小北关街178号
                                    <br/> 辽宁省沈阳市沈河区 110000</li>
                                <li>办公电话： 88516304</li>
                                <li>Email: email@yourdomain.com</li>
                            </ul>
                        </address>
                        <!-- END COLUMN 1 -->
                    </div>
                    <div class="col-md-4">
                        <!-- COLUMN 2 -->
                        <h3 class="footer-heading">相关连接</h3>
                        <div class="row margin-bottom-30px">
                            <div class="col-xs-6">
                                <ul class="list-unstyled footer-nav">
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">最新资讯</a></li>
                                    <li><a href="#">公司简介</a></li>
                                    <li><a href="#">测试文字</a></li>
                                    <li><a href="#">测试文字</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled footer-nav">
                                    <li><a href="#">测试文字</a></li>
                                    <li><a href="#">测试文字</a></li>
                                    <li><a href="#">测试文字</a></li>
                                    <li><a href="#">测试文字</a></li>
                                    <li><a href="#">测试文字</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END COLUMN 2 -->
                    </div>
                    <div class="col-md-4">
                        <!-- COLUMN 3 -->
                        <div class="newsletter">
                            <h3 class="footer-heading">最新资讯</h3>
                            <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                            <form class="newsletter-form" method="POST">
                                <div class="input-group input-group-lg">
                                    <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">SUBSCRIBE</button></span>
                                </div>
                                <div class="alert"></div>
                            </form>
                        </div>
                        <div class="social-connect">
                            <h3 class="footer-heading">GET CONNECTED</h3>
                            <ul class="list-inline social-icons">
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <!-- END COLUMN 3 -->
                    </div>
                </div>
            </div>
            <!-- COPYRIGHT -->
            <div class="text-center copyright">
                More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    <script src="Home/assets/js/jquery-2.1.1.min.js"></script>
    <script src="Home/assets/js/bootstrap.min.js"></script>
    <script src="Home/assets/js/plugins/slick/slick.min.js"></script>
    <script src="Home/assets/js/plugins/stellar/jquery.stellar.min.js"></script>
    <script src="Home/assets/js/repute-scripts.js"></script>

    <script>
        // active
        // tab-bottom{$k + 1}

        $(function(){
            $("#tab-bottom1").addClass('active');
       
        });
    </script>
</body>

</html>
