<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a href="__ROOT__" class="navbar-brand navbar-logo">
                <img src="__ROOT__/Home/assets/img/logo/LogoTestHeader.png" alt="Repute Lite - Free Bootstrap Business Template" style="width: 220px">
            </a>
        </div>
        <!-- MAIN NAVIGATION -->
        <div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active" id="pageIndex">
                    <a href="__ROOT__/">首页 </a>
                </li>
                <li class="dropdown" id="pageAbout">
                    <a href="__ROOT__/Home/Pages/about_us">关于我们 </a>
                </li>
                <li class="dropdown" id="pageServer">
                    <a href="__ROOT__/Home/Pages/server">服务内容 </a>
                </li>
                <li class="dropdown" id="pageEx">
                    <a href="__ROOT__/Home/Pages/ex">合作案例 </a>
                </li>
                <li class="dropdown" id="pageDown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">最新动态 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="__ROOT__/Home/Pages/com_new">公司动态</a></li>
                        <li><a href="__ROOT__/Home/Pages/law">法律法规</a></li>
                    </ul>
                </li>
                <li>
                    <a href="__ROOT__/Home/Pages/callus" class="special-menu-item" target="_blank">
                        <i class="fa fa-paper-plane-o"></i>
                        联系我们
                    </a>
                </li>
            </ul>
        </div>
        <!-- END MAIN NAVIGATION -->
    </div>
</nav>