<!doctype html>
<html lang="en">

<head>
	<title>Notifications</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="__ROOT__/Admin/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__ROOT__/Admin/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__ROOT__/Admin/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="__ROOT__/Admin/assets/vendor/toastr/toastr.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="__ROOT__/Admin/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="__ROOT__/Admin/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="shortcut icon" href="__ROOT__/Admin/assets/img/favicon.png">
	<script src="__ROOT__/Admin/assets/vendor/jquery/jquery.min.js"></script>
	<style>
		p{text-indent: 2em;}
	</style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- 导航栏 -->
	<include file="./Admin/View/header.html" />
	<!-- END 导航栏杆 -->
	<!--//左侧导航栏-->
	<include file="./Admin/View/leftNav.html" />
	<!-- MAIN -->
	<div class="main">
		<!--//主窗口部分-->
		<h3 style="margin-left: 40px;">公司动态 - 页面管理</h3>
		<hr>
		<div id="disNew" style="display: none;">
			<h3 style="margin-left: 40px;">浏览公司动态列表</h3>
			<table class="table table-hover" style="width: 80%;margin-left: 40px;">
				<tr>
					<th>配图</th><th>时间</th><th>标题</th><th>详细描述</th><th>操作</th>
				</tr>
				<foreach name="n_info" item="v" key="k">
					<tr>
						<td><img src="__ROOT__/Uploads/Images/ComNew/{$v.imgpath}?ran={$ran}" height="50px"></td>
						<td>{$v.year} 年 {$v.month} 月 {$v.day} 日</td>
						<td>{$v.header}</td>
						<td style="width: 600px"><p>{$v.contents}</p></td>
						<td align="center" style="width: 100px">
							<a href="__ROOT__/index.php/Admin/Pages/comnewEdit?id={$v.id}">修改</a> |
							<a href="__ROOT__/index.php/Admin/EditPages/comnewDel?id={$v.id}">删除</a>
						</td>
					</tr>
				</foreach>
				<tr>
					<td colspan="5">
						<a href="__ROOT__/index.php/Admin/Pages/comnewEdit" style="float: right;">
							<h2 class="btn btn-default" style="font-size: 10px; margin-left: 40px;margin-bottom: 10px;">添加公司动态</h2>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">
				<a href="http://www.spasc.cn/" title="沈阳价格价业鉴证服务中心">沈阳价格价业鉴证服务中心 - Shenyang Price Assessment Service Center</a>
			</p>
		</div>
	</footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="__ROOT__/Admin/assets/vendor/jquery/jquery.min.js"></script>
<script src="__ROOT__/Admin/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__ROOT__/Admin/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Admin/assets/vendor/toastr/toastr.min.js"></script>
<script src="__ROOT__/Admin/assets/scripts/klorofil-common.js"></script>
<script>
    $(function(){
        $(".dropdown").removeClass("active");
        $("#eNew").addClass("active");
        $("#disNew").slideDown("slow");
    });
</script>
</body>

</html>
