<!DOCTYPE html>
<html lang="en">

<head>
    <title>沈阳价格价业鉴证服务中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Bootstrap Business Template">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="__ROOT__/Home/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
    <!-- IE 9 Fallback-->
    <!--[if IE 9]>
		<link href="__ROOT__/Home/assets/css/ie.css" rel="stylesheet">
	<![endif]-->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="__ROOT__/Home/assets/ico/favicon.png">
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- 导航条 -->
        <include file="./Home/View/nav-home.html" />
        <!-- END 导航条 -->

        <!-- PAGE CONTENT -->
        <div class="page-content">
            <div class="container">
                <!-- ITEM FILTERS -->
                <ul class="list-inline portfolio-item-filters">
                    <li><a class="active" href="#" data-filter="*">ALL</a></li>
                    <li><a href="#" data-filter=".design">DESIGN</a></li>
                    <li><a href="#" data-filter=".photography">PHOTOGRAPHY</a></li>
                    <li><a href="#" data-filter=".ui">UI</a></li>
                    <li><a href="#" data-filter=".ux">UX</a></li>
                </ul>
                <!-- END ITEM FILTERS -->
                <!-- PORTFOLIO ITEM WRAPPER -->
                <div class="portfolio-item-wrapper">
                    <ul class="portfolio-item-list portfolio-isotope portfolio-nospace list-col-4">
                        <li class="portfolio-item design">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">The Guitar</h4>
                                <p class="brief-description">Graphic Design</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work1.png" alt="This is the description">
                            </div>
                        </li>
                        <li class="portfolio-item ux">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">Skyscraper</h4>
                                <p class="brief-description">UX Design</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work3.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item photography">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">Heaven</h4>
                                <p class="brief-description">Photography</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work4.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item photography ux">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">Raining</h4>
                                <p class="brief-description">Photography</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work5.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item photography ui">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">The Edge</h4>
                                <p class="brief-description">UI &amp; UX Design</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work6.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item photography">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">The Light</h4>
                                <p class="brief-description">Photography</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work7.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item photography">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">Magical Tea</h4>
                                <p class="brief-description">Photography</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work8.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                        <li class="portfolio-item ui">
                            <div class="overlay"></div>
                            <div class="info">
                                <h4 class="title">Skyscraper</h4>
                                <p class="brief-description">UI Design</p>
                                <a href="#" class="btn">read more</a>
                            </div>
                            <div class="media-wrapper">
                                <img src="__ROOT__/Home/assets/img/portfolio/800x800/work3.png" alt="Portfolio Thumbnail">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END PORTFOLIO ITEM WRAPPER -->
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- 页脚部分 -->
        <include file="./Home/View/footer-home.html" />
        <!-- END 页脚部分 -->
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    <script src="__ROOT__/Home/assets/js/jquery-2.1.1.min.js"></script>
    <script src="__ROOT__/Home/assets/js/bootstrap.min.js"></script>
    <script src="__ROOT__/Home/assets/js/plugins/isotope/isotope.pkgd.js"></script>
    <script src="__ROOT__/Home/assets/js/repute-scripts.js"></script>
    <script>
        $(function() {
            $(".dropdown").removeClass("active");
            $("#pageEx").addClass("active");
        });
    </script>
</body>

</html>
