<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us | Repute Lite - Free Bootstrap Business Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Bootstrap Business Template">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="__ROOT__/Home/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Home/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
    <!-- IE 9 Fallback-->
    <!--[if IE 9]>
		<link href="__ROOT__/Home/assets/css/ie.css" rel="stylesheet">
	<![endif]-->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>
    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__ROOT__/Home/assets/ico/repute144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__ROOT__/Home/assets/ico/repute114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__ROOT__/Home/assets/ico/repute72x72.png">
    <link rel="apple-touch-icon-precomposed" href="__ROOT__/Home/assets/ico/repute57x57.png">
    <link rel="shortcut icon" href="__ROOT__/Home/assets/ico/favicon.png">
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- 导航栏 -->
        <include file="./Home/View/nav-home.html" />
        <!-- END 导航条 -->

        <!-- PAGE CONTENT -->
        <div class="page-content">
            <div class="container">
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="section-heading">公司介绍</h2>
                            <p>公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字公司介绍测试文字</p>
                        </div>
                        <div class="col-md-6">
                            <div class="featured-video" style="border: 1px solid black; height: 280px;">
                                <img src="#" alt="" width="580" height="280">
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <h2 class="section-heading">OUR MISSION</h2>
                    <p class="lead"><span class="dropcap dropcap-big">P</span>hosfluorescently predominate stand-alone strategic theme areas with resource maximizing resources. Professionally transform end-to-end catalysts for change via impactful e-services.</p>
                    <br>
                    <h2 class="section-heading">OUR VISION</h2>
                    <p class="lead"><span class="dropcap dropcap-big">D</span>istinctively predominate front-end total linkage via user. Professionally synthesize sustainable growth strategies before bricks-and-clicks functionalities. Holisticly synthesize unique intellectual capital whereas ubiquitous users.</p>
                    <hr>
                </section>
                <h2 class="section-heading">MEET OUR TEAM</h2>
                <!-- TEAM -->
                <section class="team">
                    <div class="section-content">
                        <div class="col-md-5">
                            <div class="team-member media">
                                <img src="__ROOT__/Home/assets/img/team/person1.png" class="media-object img-circle pull-left" alt="" />
                                <div class="media-body">
                                    <h3 class="media-heading team-name">Michael Summer</h3>
                                    <strong>Executive Director</strong>
                                    <hr class="pull-left">
                                    <div class="clearfix"></div>
                                    <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                                    <ul class="list-inline social-icon">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="team-member media">
                                <img src="__ROOT__/Home/assets/img/team/person2.png" class="media-object img-circle pull-left" alt="" />
                                <div class="media-body">
                                    <h3 class="media-heading team-name">Jane Doe</h3>
                                    <strong>Art Director</strong>
                                    <hr class="pull-left">
                                    <div class="clearfix"></div>
                                    <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                                    <ul class="list-inline social-icon">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="team-member media">
                                <img src="__ROOT__/Home/assets/img/team/person3.png" class="media-object img-circle pull-left" alt="" />
                                <div class="media-body">
                                    <h3 class="media-heading team-name">Cindy Marry</h3>
                                    <strong>UI Designer</strong>
                                    <hr class="pull-left">
                                    <div class="clearfix"></div>
                                    <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                                    <ul class="list-inline social-icon">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="team-member media">
                                <img src="__ROOT__/Home/assets/img/team/person4.png" class="media-object img-circle pull-left" alt="" />
                                <div class="media-body">
                                    <h3 class="media-heading team-name">Phillips Abraham</h3>
                                    <strong>Front-end Developer</strong>
                                    <hr class="pull-left">
                                    <div class="clearfix"></div>
                                    <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                                    <ul class="list-inline social-icon">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END TEAM -->
                <!-- OUR CLIENTS -->
                <section class="clients no-margin">
                    <div class="container">
                        <h2 class="section-heading">OUR CLIENTS</h2>
                        <ul class="list-inline list-client-logo">
                            <li>
                                <a href="#"><img src="__ROOT__/Home/assets/img/clients/logo1.png" alt="logo" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="__ROOT__/Home/assets/img/clients/logo2.png" alt="logo" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="__ROOT__/Home/assets/img/clients/logo3.png" alt="logo" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="__ROOT__/Home/assets/img/clients/logo4.png" alt="logo" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="__ROOT__/Home/assets/img/clients/logo5.png" alt="logo" /></a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- END OUR CLIENTS -->
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- 页脚部分 -->
        <include file="./Home/View/footer-home.html" />
        <!-- END 页脚部分 -->
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    <script src="__ROOT__/Home/assets/js/jquery-2.1.1.min.js"></script>
    <script src="__ROOT__/Home/assets/js/bootstrap.min.js"></script>
    <script src="__ROOT__/Home/assets/js/plugins/fitvids/jquery.fitvids.js"></script>
    <script src="__ROOT__/Home/assets/js/repute-scripts.js"></script>
    <script>
        $(function() {
            $(".dropdown").removeClass("active");
            $("#pageAbout").addClass("active");
        });
    </script>
</body>

</html>
