<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand" style="height: 81px">
        <span style="color: #2B333E; font-weight: bold; font-size: 25px; line-height: 0px">沈阳价格价业鉴证服务中心 </span>
        <span style="color: #00AAFF; font-weight: bold; font-size: 20px; line-height: 0px"> Shenyang Price Assessment Service Center</span>

        <span style="margin-left: 20px"><a style="float: right;" href="__ROOT__/index.php/Admin/Index/logout"> 退出后台管理 </a></span>
    </div>
</nav>
<!-- END 导航栏杆 -->