<!-- 左侧工具栏杆 -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="__ROOT__/Admin/Pages/index" class="dropdown" id="eIndex">
                        <i class="lnr lnr-home"></i>
                        <span>首页设置</span>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/Admin/Pages/aboutus" class="dropdown" id="eAbouts">
                        <i class="lnr lnr-code"></i>
                        <span>关于我们</span>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/Admin/Pages/server" class="dropdown" id="eServer">
                        <i class="lnr lnr-chart-bars"></i>
                        <span>服务内容</span>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/Admin/Pages/example" class="dropdown" id="eEx">
                        <i class="lnr lnr-cog"></i>
                        <span>合作案例</span>
                    </a>
                </li>
                <li><a href="__ROOT__/Admin/Pages/comnew" class="dropdown" id="eNew">
                    <i class="lnr lnr-alarm"></i>
                    <span>公司动态</span>
                </a>
                </li>
                <li>
                    <a href="__ROOT__/Admin/Pages/law" class="dropdown" id="eLaw">
                        <i class="lnr lnr-dice"></i>
                        <span>法律法规</span>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/Admin/Pages/collaborate" class="dropdown" id="eCom">
                        <i class="lnr lnr-dice"></i>
                        <span>合作单位</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->